/* Element selector */
p {
    border: 2px solid red;
}

/* Id selector */
#firstPara {
    color: green;
}

/* Class selector */
.bgBlue {
    color: yellow;
    background-color: rgb(48, 18, 18);
}

/* Grouping selector */
footer,
span {
    background-color: pink;
}